.my-footer{   
	
     bottom: 0;
     left: 0;
      position: fixed;
      right: 0;
      height: 20px;
      width: 100%;
      font-size: 12px;
      
}

.dltable{
	width: 90%;
	margin-left: 20px;
	margin-right: 20px;
} 

.tstable{
	width: 100%;
}
.werdiv{
	width:50%;
	float: left;
}

.dldiv{
	width: 20%;
	float:left;
}  
.dldiv1{
	width: 30%;
	float:left;
}   
.dldiv2{
	width: 50%;
	float:left;
}        
.td1{
	text-align: center; 
}
.td{
	text-align: right;
}
td{
	padding:0px 0px;
}
.td2{
	text-align:left; 
}